<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="collection/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="collection/layuiadmin/style/admin.css" media="all">
</head>
<body>
<div class="layui-card">
    <div class="layui-card-body">
        <!--        <button type="button" class="layui-btn" id="fileN">-->
        <!--            <i class="layui-icon" style="font-size: 30px;">&#xe601;</i>下载文件-->
        <!--        </button>-->
        <!--        <hr>-->
        <table class="layui-hide" id="demo" lay-filter="demo"></table>
    </div>
</div>

<script src="collection/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: 'collection/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'upload'], function () {
        var $ = layui.$
            , layer = layui.layer
            , indexs = ''
            , table = layui.table
            , upload = layui.upload;

        table.render({
            elem: '#demo'
            , url: '/tt?ID=' + window.localStorage.getItem('fd_id')
            // , page: true
            // , limit: 30
            // , limits: [30, 50, 100]
            , height: 'full-55'
            , cols: [
                [
                    {type: 'numbers'}
                    , {field: 'fd_file_name', title: '文件名称', align: "center"}
                    , {field: 'fd_time', title: '上传时间', align: "center"}
                    , {field: 'fd_creat_person', title: '上传人', align: "center"}
                    , {
                    field: '', title: '下载', align: "center", templet: function (row) {
                        return '<a type="button" class="layui-btn" id="fileN">' +
                            '            <i class="layui-icon" style="font-size: 30px;">&#xe601;</i>下载文件' +
                            '<input type="text" value="' + row.fd_id + '" style="display: none" id="data">' +
                            '        </a>';
                    }
                }
                ]
            ]
        });


        $('#fileN').on('click', function () {
            $.ajax({
                type: 'post'
                ,url: '/downloadFile?userid=' + parent.layui.index.getCookie("Login_ID") + '&fileid=' + $('#data').val()
                ,async: false
                ,contentType: 'application/json; charset=utf-8'
                ,success: function (res) {
                    layer.alert(res);
                }
            })
        });


    });
</script>
</body>
</html>